[user]
	name = yuki-ono-vlb
	email = yuki.ono@lberc-g.jp
[core]
	excludesfile = /Users/yukiono/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/yukiono/.stCommitMsg
[init]
	defaultBranch = main
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[credential]
	helper = osxkeychain
